{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 
    <title>Airconditioner</title>
</head>
<link rel="stylesheet" href="{% static 'ecommerce.css' %}">
<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">

<body>
  <div class="jumbotron">
    <div class="container text-center">
      <h1>E-Trend Collections</h1>      
      <p>Mission, Vission & Values</p>
    </div>
  </div>
  
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
       
      </div>
     
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
         
          <li><a href="{% url 'homes-ecommerce' %}">Home</a></li>
          <li><div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">product</button>
            <div id="myDropdown" class="dropdown-content">
              <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
              <a href="{% url 'homes-shoes' %}">Shoes</a>
              <a href="{% url 'homes-TShirt' %}">Men's T-shirts</a>
              <a href="{% url 'homes-jeans' %}">Jeans</a>
              <a href="{% url 'homes-watch' %}">Watches</a>
              <a href="{% url 'homes-smartphone' %}">Smart Phones</a>
              <a href="{% url 'homes-television' %}">Televisions</a>
              <a href="{% url 'homes-hoodies' %}">Hoodies</a>
              <a href="{% url 'homes-dinnerset' %}">Dinner Sets</a>
              <a href="{% url 'homes-blankets' %}">Blankets</a>
              <a href="{% url 'homes-laptop' %}">Laptops</a>
              <a href="{% url 'homes-microwave' %}">Microwaves</a>
              <a href="{% url 'homes-coffeemaker' %}">Coffee Makers</a>
              <a href="{% url 'homes-bed' %}">Beds</a>
              <a href="{% url 'homes-Airconditioner' %}">Air Conditioners</a>
              <a href="{% url 'homes-book' %}">Books</a>
              <a href="{% url 'homes-bag' %}">Bags</a>
              <a href="{% url 'homes-sarees' %}">Sarees</a>
              <a href="{% url 'homes-washingmachine' %}">Washing Machine</a>
            </div></li>
          <li><a href="#">Deals</a></li>
          <li><a href="#">Stores</a></li>
          <li class="active"><a href="{% url 'homes-contact' %}">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'homes-login' %}"><span class="glyphicon glyphicon-user"></span> Account</a></li>
          <li><a href="{% url 'homes-addtocart' %}"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
          
        </ul>
       
      </div>
      
      
    </div>
  </nav>
  </div>

  

<div class="section2">
    <div class="container">
      <div class="items">
            <div class="img img1"><img src="https://m.economictimes.com/thumb/msid-91980641,width-1200,height-900,resizemode-4,imgsize-6188/best-wi-fi-enabled-smart-air-conditioners-under-rs-45000.jpg" alt=""></div>
            <div class="name">WIFI AC</div>
            <div class="price">$545</div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
        </div>

        <div class="items">
            <div class="img img1"><img src="https://www.91-cdn.com/pricebaba-blogimages/wp-content/uploads/2018/01/air-conditioner-india-feature.jpg" alt=""></div>
            <div class="name">AC</div>
            <div class="price">$565</div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://images.jdmagicbox.com/quickquotes/images_main/lg-air-conditioner-18enxa-18pnx-2022003904-by9r9mw0.jpg" alt=""></div>
            <div class="name">LG</div>
            <div class="price">$620</div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://static.toiimg.com/thumb/msid-98004948,width-1070,height-580,imgsize-17346,resizemode-75,overlay-toi_sw,pt-32,y_pad-40/photo.jpg" alt=""></div>
            <div class="name">AC</div>
            <div class="price">$598</div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://www.lg.com/levant_en/images/air-conditioning-units/md07547825/gallery/D-1.jpg" alt=""></div>
            <div class="name">LG</div>
            <div class="price">$605</div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://cdn.pixabay.com/photo/2019/05/15/10/16/air-conditioner-4204637__340.jpg" alt=""></div>
            <div class="name">AC</div>
            <div class="price">$615</div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://aws-obg-image-lb-1.tcl.com/content/dam/brandsite/region/in/blog/pc/detail/blog-february/how-much-electricity-does-an-air-conditioner-use/banner.jpg" alt=""></div>
            <div class="name">SAMSUNG</div>
            <div class="price">$610</div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://www.tcl.com/usca/content/dam/tcl/product/appliances/window-air-conditioners/carousel/w6w31/W6W31-WAC6K-front-720-480.png" alt=""></div>
            <div class="name">WINDOW AC</div>
            <div class="price">$532</div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://www.thespruce.com/thmb/VIH9ylc0-7xP9aKTusoyd8UUSEM=/3000x0/filters:no_upscale():max_bytes(150000):strip_icc()/why-window-air-conditioners-freeze-up-1152665-hero-aa2e8377fd8a4f6fa22dd875cbeca2d0.jpg" alt=""></div>
            <div class="name">WINDOW AC</div>
            <div class="price">$596</div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://img.global.news.samsung.com/global/wp-content/uploads/2016/12/WindFreeAC_AR9500M_Main_2.jpg" alt=""></div>
            <div class="name">SAMSUNG</div>
            <div class="price">$618  </div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://ansons.ph/wp-content/uploads/2017/01/FDF125V.jpg" alt=""></div>
            <div class="name">MITSUBISHI</div>
            <div class="price">$605</div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://s3-assets.sylvane.com/media/images/articles/types-of-room-air-conditioners-portable-ac-opt.jpg" alt=""></div>
            <div class="name">ROOM AC</div>
            <div class="price">$615</div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
          </div>
    </div>
</div>
<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
<script src="{% static 'ecommerce.js' %}"></script>
</body>
</html>