{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   
    <title>Blankets</title>
</head>

<link rel="stylesheet" href="{% static 'ecommerce.css' %}">
<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">

<body>

  <div class="jumbotron">
    <div class="container text-center">
      <h1>E-Trend Collections</h1>      
      <p>Mission, Vission & Values</p>
    </div>
  </div>
  
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
       
      </div>
     
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
         
          <li><a href="{% url 'homes-ecommerce' %}">Home</a></li>
          <li><div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">product</button>
            <div id="myDropdown" class="dropdown-content">
              <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
              <a href="{% url 'homes-shoes' %}">Shoes</a>
              <a href="{% url 'homes-TShirt' %}">Men's T-shirts</a>
              <a href="{% url 'homes-jeans' %}">Jeans</a>
              <a href="{% url 'homes-watch' %}">Watches</a>
              <a href="{% url 'homes-smartphone' %}">Smart Phones</a>
              <a href="{% url 'homes-television' %}">Televisions</a>
              <a href="{% url 'homes-hoodies' %}">Hoodies</a>
              <a href="{% url 'homes-dinnerset' %}">Dinner Sets</a>
              <a href="{% url 'homes-blankets' %}">Blankets</a>
              <a href="{% url 'homes-laptop' %}">Laptops</a>
              <a href="{% url 'homes-microwave' %}">Microwaves</a>
              <a href="{% url 'homes-coffeemaker' %}">Coffee Makers</a>
              <a href="{% url 'homes-bed' %}">Beds</a>
              <a href="{% url 'homes-Airconditioner' %}">Air Conditioners</a>
              <a href="{% url 'homes-book' %}">Books</a>
              <a href="{% url 'homes-bag' %}">Bags</a>
              <a href="{% url 'homes-sarees' %}">Sarees</a>
              <a href="{% url 'homes-washingmachine' %}">Washing Machine</a>
            </div></li>
          <li><a href="#">Deals</a></li>
          <li><a href="#">Stores</a></li>
          <li class="active"><a href="{% url 'homes-contact' %}">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'homes-login' %}"><span class="glyphicon glyphicon-user"></span> Account</a></li>
          <li><a href="{% url 'homes-addtocart' %}"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
          
        </ul>
       
      </div>
      
      
    </div>
  </nav>
  </div>


               
<div class="section2">
    <div class="container">
      <div class="items">
            <div class="img img1"><img src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/913Tb1K+UEL._SX425_.jpg" alt=""></div>
            <div class="name">woolen</div>
            <div class="price">$4</div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
        </div>

        <div class="items">
            <div class="img img1"><img src="https://5.imimg.com/data5/IM/ZR/XL/SELLER-14551930/2-ply-mink-blankets-500x500.jpg" alt=""></div>
            <div class="name">mutlticolor</div>
            <div class="price">$7</div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://media.istockphoto.com/id/1223685027/photo/soft-plaid.jpg?s=612x612&w=0&k=20&c=S6AVmXlYj0tjB1ShRr6pFC-LQnTtGUgFihZ-maRvSKs=" alt=""></div>
            <div class="name">light Golden</div>
            <div class="price">$6</div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://cdn.shopify.com/s/files/1/0984/2886/articles/Authenticity50_Cotton_Blankets_2000x.jpg?v=1651241768" alt=""></div>
            <div class="name">Pair</div>
            <div class="price">$8</div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://www.shutterstock.com/image-photo/stack-woolen-checked-blankets-autumn-260nw-762853780.jpg" alt=""></div>
            <div class="name">MIX COLOUR</div>
            <div class="price">$9.8</div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://www.thespruce.com/thmb/aIgFrh0Hn92eGyGfE1b1GnV2f0o=/fit-in/1500x1000/filters:no_upscale():max_bytes(150000):strip_icc()/bedsure-sherpa-fleece-throw-blanket-c34a6c85ea8940cf9cfaa09c4b10c130.jpg" alt=""></div>
            <div class="name">Spruce</div>
            <div class="price">$3.7</div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://cdn.thewirecutter.com/wp-content/media/2023/01/throw-blankets-2048px-09060.jpg" alt=""></div>
            <div class="name">throw</div>
            <div class="price">$5.5</div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://navbharattimes.indiatimes.com/thumb/79974834/blankets-on-amazonwinter-blanket999-79974834.jpg?imgsize=169185&width=540&height=405&resizemode=75" alt=""></div>
            <div class="name">Soft</div>
            <div class="price">$5.9</div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://pyxis.nymag.com/v1/imgs/9b6/6c3/96c0453ef0380fcb4f48be242a25071637.rsquare.w600.jpg" alt=""></div>
            <div class="name">plush</div>
            <div class="price">$5.5</div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/61lgcAFui2L._AC_UL320_.jpg" alt=""></div>
            <div class="name">wool blanktes</div>
            <div class="price">$6  </div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://www.shutterstock.com/image-photo/soft-blankets-on-white-background-260nw-1780487756.jpg" alt=""></div>
            <div class="name">WHITE</div>
            <div class="price">$8.9</div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://people.com/thmb/sHF6ZvfBYlPlqtxPtxPCIPj4Pmg=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/Best-Electric-Blankets-PO-tout-7ba1384c9b4a404a8f0e8895bbc0cfb4.jpg" alt=""></div>
            <div class="name">Electric Blanket</div>
            <div class="price">$9.7</div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
          </div>
    </div>
</div>
    
<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
<script src="{% static 'ecommerce.js' %}"></script>
</body>
</html>