{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   
    <title>coffeemaker</title>
</head>

<link rel="stylesheet" href="{% static 'ecommerce.css' %}">
<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">

<body>

  <div class="jumbotron">
    <div class="container text-center">
      <h1>E-Trend Collections</h1>      
      <p>Mission, Vission & Values</p>
    </div>
  </div>
  
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
       
      </div>
     
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
         
          <li><a href="{% url 'homes-ecommerce' %}">Home</a></li>
          <li><div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">product</button>
            <div id="myDropdown" class="dropdown-content">
              <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
              <a href="{% url 'homes-shoes' %}">Shoes</a>
              <a href="{% url 'homes-TShirt' %}">Men's T-shirts</a>
              <a href="{% url 'homes-jeans' %}">Jeans</a>
              <a href="{% url 'homes-watch' %}">Watches</a>
              <a href="{% url 'homes-smartphone' %}">Smart Phones</a>
              <a href="{% url 'homes-television' %}">Televisions</a>
              <a href="{% url 'homes-hoodies' %}">Hoodies</a>
              <a href="{% url 'homes-dinnerset' %}">Dinner Sets</a>
              <a href="{% url 'homes-blankets' %}">Blankets</a>
              <a href="{% url 'homes-laptop' %}">Laptops</a>
              <a href="{% url 'homes-microwave' %}">Microwaves</a>
              <a href="{% url 'homes-coffeemaker' %}">Coffee Makers</a>
              <a href="{% url 'homes-bed' %}">Beds</a>
              <a href="{% url 'homes-Airconditioner' %}">Air Conditioners</a>
              <a href="{% url 'homes-book' %}">Books</a>
              <a href="{% url 'homes-bag' %}">Bags</a>
              <a href="{% url 'homes-sarees' %}">Sarees</a>
              <a href="{% url 'homes-washingmachine' %}">Washing Machine</a>
            </div></li>
          <li><a href="#">Deals</a></li>
          <li><a href="#">Stores</a></li>
          <li class="active"><a href="{% url 'homes-contact' %}">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'homes-login' %}"><span class="glyphicon glyphicon-user"></span> Account</a></li>
          <li><a href="{% url 'homes-addtocart' %}"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
          
        </ul>
       
      </div>
      
      
    </div>
  </nav>
  </div> 

               
<div class="section2">
    <div class="container">
      <div class="items">
            <div class="img img1"><img src="https://images.philips.com/is/image/philipsconsumer/72dbb6e1509a4cacb631ad1900d54b9e?wid=420&hei=360&$jpglarge$" alt=""></div>
            <div class="name">philips</div>
            <div class="price">$65</div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
        </div>

        <div class="items">
            <div class="img img1"><img src="https://media.istockphoto.com/id/524908249/photo/coffee-blender-and-boiler-machine-in-kitchen-interior.jpg?s=612x612&w=0&k=20&c=0JWEuctoshrvOj-tRACbLqZH5wicdT9xOCe7zeEULYs=" alt=""></div>
            <div class="name">coffee Blender</div>
            <div class="price">$70</div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/61it1xPae3L._SL1500_.jpg" alt=""></div>
            <div class="name">Agro</div>
            <div class="price">$88</div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://media.croma.com/image/upload/v1657007439/Croma%20Assets/Small%20Appliances/Coffee%20Tea%20Makers/Images/257055_lhgmsr.png" alt=""></div>
            <div class="name">Morphy Richards</div>
            <div class="price">$72</div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/61-NnbePY1L._SL1500_.jpg" alt=""></div>
            <div class="name">Skyline</div>
            <div class="price">$75</div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://i5.walmartimages.com/asr/16f77040-27ab-4008-9852-59c900d7a7d9_1.c524f1d9c465e122596bf65f939c8d26.jpeg" alt=""></div>
            <div class="name">Mainstays</div>
            <div class="price">$67</div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://www.reliancedigital.in/medias/Kelvinator-KDCMS001-Coffee-Maker-491959017-i-6-1200Wx1200H?context=bWFzdGVyfGltYWdlc3wxNTk2ODB8aW1hZ2UvanBlZ3xpbWFnZXMvaGZkL2g4OS85NjIzNzg5NjAwNzk4LmpwZ3w3N2ZiYTk5YjE1M2MyMmI1NTBhMDRhYmY5MWRhNDE3ZTg3MDAyNGY1NzBjYjM5MGY2YzhlYzAzZjlmOTU4OTBm" alt=""></div>
            <div class="name">Kelvintar</div>
            <div class="price">$72</div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://www.reliancedigital.in/medias/BPL-BDCMD0016C-Coffee-Maker-491903182-i-1-1200Wx1200H?context=bWFzdGVyfGltYWdlc3wyOTI0MjJ8aW1hZ2UvanBlZ3xpbWFnZXMvaDIwL2gyZC85NjIzNzg2MzIzOTk4LmpwZ3w5MGU0OTJjMTFkNmZlZWUxY2M4MmUzZmM0OTYwYTA2NTcxM2M1MzVmNTg2Y2ZlMTcxNmI2ZjM1MTM4MGI2MDVh" alt=""></div>
            <div class="name">BPL</div>
            <div class="price">$69</div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://rukminim1.flixcart.com/image/416/416/ky90scw0/coffee-maker/y/0/0/-original-imagajfnzrvctm2d.jpeg?q=70" alt=""></div>
            <div class="name">Pigeon</div>
            <div class="price">$71</div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://products.geappliances.com/MarketingObjectRetrieval/Dispatcher?RequestType=Image&Name=Cafe%20Specialty-Drip-Coffee_MB_C7CDABS3RD3_B1_alt.jpg&Variant=ViewLarger" alt=""></div>
            <div class="name">Cafe</div>
            <div class="price">$78  </div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://media.istockphoto.com/id/155556909/photo/coffee-machine-with-large-copy-space.jpg?s=612x612&w=0&k=20&c=yDvJcOs5q4tcoEaFyBP4Rd7uwCc_CBxCZZsQdA2iiKc=" alt=""></div>
            <div class="name">Coffee Pot</div>
            <div class="price">$59</div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://rukminim1.flixcart.com/image/416/416/klzhq4w0/coffee-maker/r/j/z/regalia-brew-coffee-maker-550-w-63153595-wonderchef-original-imagyzn8mvsqcrjg.jpeg?q=70" alt=""></div>
            <div class="name">Wonderchef</div>
            <div class="price">$57</div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
          </div>
    </div>
</div>

<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
<script src="{% static 'ecommerce.js' %}"></script>


    
</body>
</html>