{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>E-Trend Collections</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 
</head>

    <link rel="stylesheet" href="{% static 'ecommerce.css' %}">
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
  
<body>

<div class="jumbotron">
  <div class="container text-center">
    <h1>E-Trend Collections</h1>      
    <p>Mission, Vission & Values</p>
  </div>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
     
    </div>
   
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
       
        <li><a href="{% url 'homes-ecommerce' %}">Home</a></li>
        <li><div class="dropdown">
          <button onclick="myFunction()" class="dropbtn">product</button>
          <div id="myDropdown" class="dropdown-content">
            <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
            <a href="shoes.html">Shoes</a>
            <a href="T-SHIRT.HTML">Men's T-shirts</a>
            <a href="jeans.html">Jeans</a>
            <a href="watch.html">Watches</a>
            <a href="smartphone.html">Smart Phones</a>
            <a href="television.html">Televisions</a>
            <a href="hoodies.html">Hoodies</a>
            <a href="#">Dinner Sets</a>
            <a href="#contact">Blankets</a>
            <a href="#contact">Laptops</a>
            <a href="#contact">Microwaves</a>
            <a href="#contact">Coffee Makers</a>
            <a href="#contact">Beds</a>
            <a href="#contact">Air Conditioners</a>
            <a href="#contact">Books</a>
            <a href="#contact">Bags</a>
            <a href="#contact">Sarees</a>
            <a href="Washing Machine.html">Washing Machine</a>
          </div></li>
        <li><a href="#">Deals</a></li>
        <li><a href="#">Stores</a></li>
        <li class="active"><a href="#">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'homes-login' %}"><span class="glyphicon glyphicon-user"></span> Account</a></li>
        <li><a href="{% url 'homes-addtocart' %}"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
        
      </ul>
     
    </div>
    
    
  </div>
</nav>
</div>
<form>
    <center>
        <h4></h4>
    </center>
</form>

<div class="footer0">
    <h1><center>E-Trend Collections</center></h1>
  </div>
  <div class="footer1 ">
    Connect with us at<div class="social-media">
      <a href="https://www.facebook.com/">
        <ion-icon name="logo-facebook"></ion-icon>
      </a>
      <a href="https://www.linkedin.com/">
        <ion-icon name="logo-linkedin"></ion-icon>
      </a>
      <a href="https://www.youtube.com/">
        <ion-icon name="logo-youtube"></ion-icon>
      </a>
      <a href="https://www.instagram.com/">
        <ion-icon name="logo-instagram"></ion-icon>
      </a>
      <a href="https://www.twitter.com/">
        <ion-icon name="logo-twitter"></ion-icon>
      </a>
    </div>
  </div>
  <div class="footer2">
    <div class="product">
      <div class="heading"><b>Contact Us</b></div>
      <div class="div">E-mail: trend.collections@gmail.com</div>
      <div class="div">Toll Free No.: 1800 000 1818</div>
      <div class="div">Address: Near Bhagwanpur gollambar
        Muzaffarpur, Bihar PIN: 843120 </div>
      <!--<div class="div"></div>-->
  
    </div>
 
  </div>
  </footer>
  <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
  <script src="{% static 'ecommerce.js' %}"></script>
<div class="footer3">Copyright © <h4>E-Trend Collections</h4> 2021-2028</div>
</footer>
<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
<script src="{% static 'ecommerce.js' %}"></script>
</body> 
</html>