{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   
    <title>dinnerset</title>
</head>

<link rel="stylesheet" href="{% static 'ecommerce.css' %}">
<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">

<body>

  <div class="jumbotron">
    <div class="container text-center">
      <h1>E-Trend Collections</h1>      
      <p>Mission, Vission & Values</p>
    </div>
  </div>
  
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
       
      </div>
     
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
         
          <li><a href="{% url 'homes-ecommerce' %}">Home</a></li>
          <li><div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">product</button>
            <div id="myDropdown" class="dropdown-content">
              <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
              <a href="{% url 'homes-shoes' %}">Shoes</a>
              <a href="{% url 'homes-TShirt' %}">Men's T-shirts</a>
              <a href="{% url 'homes-jeans' %}">Jeans</a>
              <a href="{% url 'homes-watch' %}">Watches</a>
              <a href="{% url 'homes-smartphone' %}">Smart Phones</a>
              <a href="{% url 'homes-television' %}">Televisions</a>
              <a href="{% url 'homes-hoodies' %}">Hoodies</a>
              <a href="{% url 'homes-dinnerset' %}">Dinner Sets</a>
              <a href="{% url 'homes-blankets' %}">Blankets</a>
              <a href="{% url 'homes-laptop' %}">Laptops</a>
              <a href="{% url 'homes-microwave' %}">Microwaves</a>
              <a href="{% url 'homes-coffeemaker' %}">Coffee Makers</a>
              <a href="{% url 'homes-bed' %}">Beds</a>
              <a href="{% url 'homes-Airconditioner' %}">Air Conditioners</a>
              <a href="{% url 'homes-book' %}">Books</a>
              <a href="{% url 'homes-bag' %}">Bags</a>
              <a href="{% url 'homes-sarees' %}">Sarees</a>
              <a href="{% url 'homes-washingmachine' %}">Washing Machine</a>
            </div></li>
          <li><a href="#">Deals</a></li>
          <li><a href="#">Stores</a></li>
          <li class="active"><a href="{% url 'homes-contact' %}">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'homes-login' %}"><span class="glyphicon glyphicon-user"></span> Account</a></li>
          <li><a href="{% url 'homes-addtocart' %}"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
          
        </ul>
       
      </div>
      
      
    </div>
  </nav>
  </div> 

               
<div class="section2">
    <div class="container">
      <div class="items">
            <div class="img img1"><img src="https://cdn.shopify.com/s/files/1/0632/1150/3847/products/20220827_184657000_iOS.jpg?v=1662613270&width=533" alt=""></div>
            <div class="name">GOLD ROSES</div>
            <div class="price">$6</div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
        </div>

        <div class="items">
            <div class="img img1"><img src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/61ZuOqNoGBL._SX425_.jpg" alt=""></div>
            <div class="name">NAYASA PRINTED</div>
            <div class="price">$5</div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/61-QAdRacBL._SL1000_.jpg" alt=""></div>
            <div class="name">CELLO ROYAL</div>
            <div class="price">$9</div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://cdn.shopify.com/s/files/1/0588/0302/8166/products/DS40-URMI-ROSE-R516copy.jpg?v=1629467258" alt=""></div>
            <div class="name">URMI ROSE</div>
            <div class="price">$5.5</div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://cdn.shopify.com/s/files/1/2690/0106/products/DSC9129.jpg?v=1672991617" alt=""></div>
            <div class="name">BOHEMIA</div>
            <div class="price">$7</div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/61NUmFFLe0S._SL1500_.jpg" alt=""></div>
            <div class="name">CELLO OPALWARE</div>
            <div class="price">$5.6</div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://cdn.shopify.com/s/files/1/0551/8009/9722/products/my-borosil-dinner-sets-44-pc-set-serves-8-bamboo-leaves-dinner-set-29842680184970.jpg?v=1677161871" alt=""></div>
            <div class="name">BAMBOO LEAVES</div>
            <div class="price">$5.5</div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://www.vinodsteel.com/wp-content/uploads/2021/10/4-3.png" alt=""></div>
            <div class="name">STANLESS STEEL</div>
            <div class="price">$4.9</div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://lmsin.net/cdn-cgi/image/h=550,w=550,q=60,fit=cover/https://aaeff43fe32172cbcecc-ae2a4e9a8cbc330ede5588dedf56886e.lmsin.net/homecentre/1000007792289-1000007792288_01-2100.jpg" alt=""></div>
            <div class="name">Melamine</div>
            <div class="price">$6.5</div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://cdn.shopify.com/s/files/1/0632/1150/3847/products/20220831_134449000_iOS.jpg?v=1664634733&width=1946" alt=""></div>
            <div class="name">royal blue</div>
            <div class="price">$7.9  </div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://cdn.shopify.com/s/files/1/1306/4195/products/r-r-crockery-house-dinnerware-sets-square-white-marble-motif-melamine-dinner-set-of-40-32874783735974.jpg?v=1647675475" alt=""></div>
            <div class="name">Square White</div>
            <div class="price">$6.9</div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://cdn.shopify.com/s/files/1/0912/9966/products/steel-copper-63-piece-dinner-set-for-tableware-kitchen-dining_6df1a26f-e11d-4c60-a409-a8787f3814ba.jpg?v=1571439517" alt=""></div>
            <div class="name">STEEL COPPER</div>
            <div class="price">$7.7</div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
          </div>
    </div>
</div>
    
    
<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
<script src="{% static 'ecommerce.js' %}"></script>

</body>
</html>