{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   
    <title>television</title>
</head>
<link rel="stylesheet" href="{% static 'ecommerce.css' %}">
<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">

<body>
   
  <div class="jumbotron">
    <div class="container text-center">
      <h1>E-Trend Collections</h1>      
      <p>Mission, Vission & Values</p>
    </div>
  </div>
  
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
       
      </div>
     
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
         
          <li><a href="{% url 'homes-ecommerce' %}">Home</a></li>
          <li><div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">product</button>
            <div id="myDropdown" class="dropdown-content">
              <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
              <a href="{% url 'homes-shoes' %}">Shoes</a>
              <a href="{% url 'homes-TShirt' %}">Men's T-shirts</a>
              <a href="{% url 'homes-jeans' %}">Jeans</a>
              <a href="{% url 'homes-watch' %}">Watches</a>
              <a href="{% url 'homes-smartphone' %}">Smart Phones</a>
              <a href="{% url 'homes-television' %}">Televisions</a>
              <a href="{% url 'homes-hoodies' %}">Hoodies</a>
              <a href="{% url 'homes-dinnerset' %}">Dinner Sets</a>
              <a href="{% url 'homes-blankets' %}">Blankets</a>
              <a href="{% url 'homes-laptop' %}">Laptops</a>
              <a href="{% url 'homes-microwave' %}">Microwaves</a>
              <a href="{% url 'homes-coffeemaker' %}">Coffee Makers</a>
              <a href="{% url 'homes-bed' %}">Beds</a>
              <a href="{% url 'homes-Airconditioner' %}">Air Conditioners</a>
              <a href="{% url 'homes-book' %}">Books</a>
              <a href="{% url 'homes-bag' %}">Bags</a>
              <a href="{% url 'homes-sarees' %}">Sarees</a>
              <a href="{% url 'homes-washingmachine' %}">Washing Machine</a>
            </div></li>
          <li><a href="#">Deals</a></li>
          <li><a href="#">Stores</a></li>
          <li class="active"><a href="{% url 'homes-contact' %}">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'homes-login' %}"><span class="glyphicon glyphicon-user"></span> Account</a></li>
          <li><a href="{% url 'homes-addtocart' %}"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
          
        </ul>
       
      </div>
      
      
    </div>
  </nav>
  </div>  

              
<div class="section2">
    <div class="container">
      <div class="items">
            <div class="img img1"><img src="https://www.pngall.com/wp-content/uploads/5/Full-HD-LED-TV-PNG-Picture.png" alt=""></div>
            <div class="name">LED Full HD</div>
            <div class="price">$290</div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
        </div>

        <div class="items">
            <div class="img img1"><img src="https://www.pngitem.com/pimgs/m/444-4448897_transparent-hd-tv-png-60-inches-led-tv.png" alt=""></div>
            <div class="name">TRANSPARENT HD</div>
            <div class="price">$310</div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://www.kazmielecom.com/wp-content/uploads/2019/05/vu-40d6575-original-imaf6qqy4vfneabe.jpeg" alt=""></div>
            <div class="name">VU LED</div>
            <div class="price">$170</div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://p.kindpng.com/picc/s/175-1755322_samsung-tv-png-samsung-led-tv-png-transparent.png" alt=""></div>
            <div class="name">LED transparent</div>
            <div class="price">$270</div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://cdn1.smartprix.com/rx-iZJHEUCde-w420-h420/samsung-50nu7090-50.jpg" alt=""></div>
            <div class="name">SAMSUNG 50NU</div>
            <div class="price">$275</div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://images.samsung.com/is/image/samsung/p6pim/in/qa55qn95baklxl/gallery/in-qled-qn95b-qa55qn95baklxl-thumb-532111755?$344_344_PNG$" alt=""></div>
            <div class="name">SAMSUNG NEO LED</div>
            <div class="price">$286</div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://www.lg.com/in/images/tvs/md07559852/75UQ8040PSB-350.jpg" alt=""></div>
            <div class="name">L.G. LED</div>
            <div class="price">$257</div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://images.unsplash.com/photo-1601944177325-f8867652837f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8bGVkJTIwdHZ8ZW58MHx8MHx8&w=1000&q=80" alt=""></div>
            <div class="name">LED TV</div>
            <div class="price">$213</div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://c8.alamy.com/comp/T6CJF1/curved-tv-T6CJF1.jpg" alt=""></div>
            <div class="name">CURVED TV</div>
            <div class="price">$275</div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://images.samsung.com/is/image/samsung/p6pim/in/ua55bu8570ulxl/gallery/in-crystaluhd-bu8500-ua55bu8570ulxl-532175431" alt=""></div>
            <div class="name">SAMSUNG 55inch</div>
            <div class="price">$234  </div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://images.samsung.com/is/image/samsung/latin-en-uhdtv-nu7500-un55nu7500pxpa-frontsilver-121406766?$650_519_PNG$" alt=""></div>
            <div class="name">Curved 4K</div>
            <div class="price">$278</div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://imageio.forbes.com/blogs-images/johnarcher/files/2016/03/Samsung55KS9500LeftAngle.jpg?format=jpg&width=1200" alt=""></div>
            <div class="name">SAMSUNG SUHD</div>
            <div class="price">$287</div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
          </div>
    </div>
</div>
<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
<script src="{% static 'ecommerce.js' %}"></script> 

</body>
</html>