{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   
    <title>watch</title>
</head>
<link rel="stylesheet" href="{% static 'ecommerce.css' %}">
<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">

<body>

  <div class="jumbotron">
    <div class="container text-center">
      <h1>E-Trend Collections</h1>      
      <p>Mission, Vission & Values</p>
    </div>
  </div>
  
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
       
      </div>
     
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
         
          <li><a href="{% url 'homes-ecommerce' %}">Home</a></li>
          <li><div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">product</button>
            <div id="myDropdown" class="dropdown-content">
              <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
              <a href="{% url 'homes-shoes' %}">Shoes</a>
              <a href="{% url 'homes-TShirt' %}">Men's T-shirts</a>
              <a href="{% url 'homes-jeans' %}">Jeans</a>
              <a href="{% url 'homes-watch' %}">Watches</a>
              <a href="{% url 'homes-smartphone' %}">Smart Phones</a>
              <a href="{% url 'homes-television' %}">Televisions</a>
              <a href="{% url 'homes-hoodies' %}">Hoodies</a>
              <a href="{% url 'homes-dinnerset' %}">Dinner Sets</a>
              <a href="{% url 'homes-blankets' %}">Blankets</a>
              <a href="{% url 'homes-laptop' %}">Laptops</a>
              <a href="{% url 'homes-microwave' %}">Microwaves</a>
              <a href="{% url 'homes-coffeemaker' %}">Coffee Makers</a>
              <a href="{% url 'homes-bed' %}">Beds</a>
              <a href="{% url 'homes-Airconditioner' %}">Air Conditioners</a>
              <a href="{% url 'homes-book' %}">Books</a>
              <a href="{% url 'homes-bag' %}">Bags</a>
              <a href="{% url 'homes-sarees' %}">Sarees</a>
              <a href="{% url 'homes-washingmachine' %}">Washing Machine</a>
            </div></li>
          <li><a href="#">Deals</a></li>
          <li><a href="#">Stores</a></li>
          <li class="active"><a href="{% url 'homes-contact' %}">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'homes-login' %}"><span class="glyphicon glyphicon-user"></span> Account</a></li>
          <li><a href="{% url 'homes-addtocart' %}"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
          
        </ul>
       
      </div>
      
      
    </div>
  </nav>
  </div>  

           
<div class="section2">
    <div class="container">
      <div class="items">
            <div class="img img1"><img src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/71UXbfMHImS._UY445_.jpg" alt=""></div>
            <div class="name">BLACK ANALOG</div>
            <div class="price">$4</div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
        </div>

        <div class="items">
            <div class="img img1"><img src="https://staticimg.titan.co.in/Titan/Catalog/90156AP01_1.jpg?impolicy=pqmed&imwidth=640" alt=""></div>
            <div class="name">TITAN TALK</div>
            <div class="price">$7</div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://staticimg.titan.co.in/Titan/Catalog/1805QM01_1.jpg?impolicy=pqmed&imwidth=640" alt=""></div>
            <div class="name">TITAN NEO SPLASH</div>
            <div class="price">$9</div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/products/red_500x.jpg?v=1675337585" alt=""></div>
            <div class="name">BOAT RTL SMART</div>
            <div class="price">$8</div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://staticimg.titan.co.in/Titan/Catalog/90148KD03_1.jpg?impolicy=pqmed&imwidth=640" alt=""></div>
            <div class="name">CERAMIC FUSION</div>
            <div class="price">$9.8</div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://cdn1.smartprix.com/rx-ilifYOwFG-w420-h420/dizo-watch-r.jpg" alt=""></div>
            <div class="name">DIZO SMART WATCH</div>
            <div class="price">$3</div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/products/main-images-2_600x.png?v=1655198531" alt=""></div>
            <div class="name">BOAT XTEND SPORT</div>
            <div class="price">$5.5</div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://navbharattimes.indiatimes.com/photo/msid-87022258,imgsize-171140/pic.jpg" alt=""></div>
            <div class="name">STANLESS STEEL</div>
            <div class="price">$4.9</div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://rukminim1.flixcart.com/image/612/612/l1l1rww0/watch/5/w/u/1-black-dial-digital-watch-for-boys-black-sports-watch-men-original-imagd4yzszbgba39.jpeg?q=70" alt=""></div>
            <div class="name">SPORTS WATCH</div>
            <div class="price">$6.5</div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://5.imimg.com/data5/JE/IQ/CD/SELLER-51217490/led-digital-band-m2-watches-1000x1000.jpg" alt=""></div>
            <div class="name">DIGITAL LEAD</div>
            <div class="price">$2.9  </div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MQDY3ref_VW_34FR+watch-49-titanium-ultra_VW_34FR_WF_CO+watch-face-49-alpine-ultra_VW_34FR_WF_CO_GEO_IN?wid=750&hei=712&trim=1%2C0&fmt=p-jpg&qlt=95&.v=1660713659063%2C1660927566964%2C1661371890735" alt=""></div>
            <div class="name">APPLE ULTRA</div>
            <div class="price">$12.9</div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
          </div>

          <div class="items">
            <div class="img img1"><img src="https://cdn4.ethoswatches.com/the-watch-guide/wp-content/uploads/2021/06/Watches-Under-2-Lakh-4.jpg" alt=""></div>
            <div class="name">ROUND UP</div>
            <div class="price">$7.7</div>
            <div class="info"><a href="{% url 'homes-payment' %}">BUY NOW</a></div>
          </div>
    </div>
</div>

<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
<script src="{% static 'ecommerce.js' %}"></script>
    
</body>
</html>